# folders
old-Dockerfiles/
__pycache__/
submission/
.vagrant/
hi/
mongo-backup/backup-2022-08-05/

# multiple files
*.ipynb

# single files
ENVIRONMENT.txt
hi.py
mongo-backup/notes.md
users_db.sqlite
TODO

# currently block
sample_text/