/*
@font-face {
  font-family: 'OpenBaskerville';
  src: url('/static/OpenBaskerville0053-Rd7W.otf');
  font-weight: normal;
  font-style: normal;
} */

main {
	font-family: 'Libre Baskerville', serif;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #CBB;
}
.navigation ul li {
    float: left;
}

.navigation ul li a {
    font-family: sans-serif;
    color: midnightblue;
    padding: 10px;
    text-decoration: none;
}

.document-navigation-column {
    background-color: #ddd;
    float: left;
    font-size: 0.9em;
    width: 25%;
}

.document-navigation-column ul {
    list-style-type: none;
    line-height: 2em;
}

.document-navigation-column a {
    color: black;
    text-decoration: none;
}

.content-column {
    float: left;
    width: 72%;
}

li {
    font-family: 'Libre Baskerville', serif;
}

p {
    font-family: 'Libre Baskerville', serif;
    font-size: 1em;
    line-height: 1.4em;
    margin-left: 2%;
    /* color: green; */
}

h1 {
/*    background-color: pink;  */
    font-family: Merriweather, serif;
    font-weight: 900;
    font-size: 1.9em;
    margin-left: 1%;
}

h2 {
    font-family: Merriweather, serif;
    font-weight: bold;
    font-size: 1.25em;
    margin-left: 1%;
}

footer {
    /* background-color: cornflowerblue; */
    position: block;
    width: 100%;
}

.settings {
    font-family: 'Inter', sans-serif;
}
.settings-eb {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}

.callout-info {
    background-color: lightcyan;
    color: black;
    font-family: 'Inter', sans-serif;
}

/* flash should replace class callout-info */
.flash {
    background-color: lightcyan;
    color: black;
    font-family: 'Inter', sans-serif;
}