{# NOT IN A WORKING STATE
    SHOULD ONLY BE ACCESSIBLE BY AN ADMINISTRATOR.
    THESE SHOULD BE SAN-SERIF FONTS. #}
{% extends "base.html" %}

{% block subtitle %}- Settings{% endblock %}

{% block content %}

<div class="settings">
<h1 class="settings-eb" > Settings </h1>

<h2 class="settings-eb"> Books </h2>
<p class="settings"> Code books with their respective collections.</p>

<table>
    <tr>
        <th>Title</th>
        <th>Collection</th>
        <th>Editable</th>
    </tr>
    {% for bk in books %}
        <tr>
            <td> {{ bk.title }} </td>
            <td> {{ bk.collection }} </td>
            <td> {{ bk.editable }} </td>
            <td><button onClick=
                "parent.location='{{ url_for('set_tgl_bk_editable', collection=bk.collection)}}'">
                Toggle Editable</button></td>
            <td>
                <a href="{{ url_for('set_delete_book', collection=bk.collection) }}">
                Delete Book</a>
            </td>
        </tr>
    {% endfor %}
</table>

<p class="callout-info"> {# message #} </p>

<p class="settings"> To add a new legal book:  <a href="{{ url_for('new_book') }}">New Legal Book</a></p>
<p class="settings"> To delete a legal book, it must first be editable. </p>
</div>

{% endblock %}